.home_container {
    text-align: center;
}

.main {
    color: #45DE14 ;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: inherit;
    text-decoration: underline;
}


.email {
    text-decoration: underline;
}

* {
    font-family: 'Courier New', Courier, monospace;
}